@import '../game_variables.scss';

.paddle {
    // margin-top: 50px;
    --paddle-position: 50;
    --paddle-size: 20;

    position: absolute;
    background-color: $paddle-color;
    top: calc(calc(var(--paddle-position) * 1%) + 50px);
    transform: translateY(-50%);
    width: 2vh;
    height: calc(var(--paddle-size) * 1vh);
    z-index: 10;
}

.paddle.left {
    left: 20px;
}

.paddle.right {
    right: 20px;
}