<div *ngIf="chatRoom; else no_chatroom_selected">
    <div class="container text-center">
        <div class="row">
            <div class="col">
                <div style="height: 75x;">
                    <span
                        style="display: flex; flex-direction: row; align-items: center; justify-content: space-between;">
                        <span *ngIf="isConversation(chatRoom); else group_conversation">
                            <h2 *ngIf="chatRoom.name == this.myUser.username; else other_user">
                                {{chatRoom.name2}}
                            </h2>
                            <ng-template #other_user>
                                <h2>{{chatRoom.name}}</h2>
                            </ng-template>
                        </span>
                        <ng-template #group_conversation>
                            <h2>{{chatRoom.name}}</h2>
                            <h3>{{chatRoom.description}}</h3>
                            <h4>{{this.ownerUsername}}</h4>
                        </ng-template>
                    </span>
                </div>
            </div>
        </div>

        <div class=" row">
            <div class="col message">
                <span *ngFor="let message of (messagesPaginate$ | async)?.items">
                    <app-chat-message [message]="message" [myUser]="this.myUser"></app-chat-message>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div style="display: flex; align-items: center;">
                    <mat-form-field style="width: 100%; margin-right: 10px;">
                        <input matInput [formControl]="chatMessage" type="text" autoComplete='off'
                            (keydown.enter)="sendMessage()">
                    </mat-form-field>
                    <button mat-icon-button [disabled]="!chatMessage.valid" (click)="sendMessage()">
                        <span style="display: flex; flex-direction: row; align-items: center;">
                            <mat-icon>send</mat-icon>
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p *ngFor="let member of (members$ | async)">{{member.user.username}}</p>
            </div>
            <div class="col">
                Column
            </div>
        </div>
    </div>
</div>

<ng-template #no_chatroom_selected>
    <mat-error>No Chatroom Selected</mat-error>
</ng-template>