<div *ngIf="!isRoomNulled(); else no_chatroom_selected">
    <div class="container text-center">
        <div class="row">
            <div class="col">
                <div style="height: 75x;">
                    <span
                        style="display: flex; flex-direction: row; align-items: center; justify-content: space-between;">
                        <span *ngIf="isConversation(chatRoom); else group_conversation">
                            <h2 *ngIf="chatRoom.name == this.myUser.username; else other_user">
                                {{chatRoom.name2}}
                            </h2>
                            <ng-template #other_user>
                                <h2>{{chatRoom.name}}</h2>
                            </ng-template>
                        </span>
                        <ng-template #group_conversation>
                            <h2>{{chatRoom.name}}</h2>

                            <h3>
                                <ul class="navbar-nav flex-direction" style="cursor: pointer;">
                                    <li *ngIf="canModifiedNameAndDesc(myMember)" (click)="onChangeTitleAndDesc()">
                                        <fa-icon title="{{chatRoom.name}} settings" [icon]="faGears"></fa-icon>
                                    </li>
                                </ul>
                                {{chatRoom.description}}
                            </h3>

                        </ng-template>
                    </span>
                </div>
            </div>
        </div>

        <div class=" row">
            <div #messagesScroller class="col message">
                <span *ngFor="let message of (messagesPaginate$ | async)?.items; let last = last">
                    <app-chat-message [message]="message" [myUser]="this.myUser"></app-chat-message>
                    {{last ? scrollToBottom() : ''}}
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div style="display: flex; align-items: center;">
                    <mat-form-field style="width: 100%; margin-right: 10px;">
                        <input matInput [formControl]="chatMessage" type="text" autoComplete='off'
                            (keydown.enter)="sendMessage()" (disabled)="isBlockerUser(this.myUser.id)">
                    </mat-form-field>
                    <button mat-icon-button [disabled]="!chatMessage.valid" (click)="sendMessage()">
                        <span style="display: flex; flex-direction: row; align-items: center;">
                            <mat-icon>send</mat-icon>
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">


                <mat-selection-list #list [multiple]="false" (selectionChange)="onMemberChange($event)">
                    <mat-list-option *ngFor="let member of members" [value]="member">
                        <img src=" backend/{{ member.user.avatar_url }}" class="avatar rounded-circle">
                        <fa-icon class="faOwner" *ngIf="isOwner(member)" [icon]="fasStar"></fa-icon>
                        <fa-icon class="faAdmin" *ngIf="isAdmin(member)" [icon]="farStar"></fa-icon>
                        {{member.user.username}}
                        <mat-divider></mat-divider>
                    </mat-list-option>
                </mat-selection-list>
            </div>
            <div class="col" *ngIf="selectedMember">
                <app-panel-chat-room [chatRoom]="chatRoom" [myUser]="myUser" [selectedMember]="selectedMember"
                    [myMember]="myMember">
                </app-panel-chat-room>
            </div>
        </div>
    </div>
</div>

<ng-template #no_chatroom_selected>
    <mat-error>No Chatroom Selected</mat-error>
</ng-template>