<app-navigation></app-navigation>

<div class="main">
    <mat-card>
        <div style="display: flex; flex-direction: row;">

            <div>
                <h1>My Chatrooms</h1>
                <span *ngIf="!Isrooms; else no_rooms">
                    <mat-selection-list [multiple]="false" (selectionChange)="onSelectRoom($event)">
                        <mat-list-option *ngFor="let room of (rooms$ | async)?.items" [value]="room">
                            Name : {{room.name}} Id: {{room.id}}
                            <mat-divider></mat-divider>
                        </mat-list-option>
                    </mat-selection-list>
                    <mat-paginator [length]="(rooms$ | async)?.meta?.totalItems"
                        [pageIndex]="(rooms$ | async)?.meta?.currentPage" [pageSize]="(rooms$ | async)?.meta?.itemCount"
                        (page)="onPaginateRooms($event)" [pageSizeOptions]="[10]"></mat-paginator>
                </span>
                <br>
                <button mat-raised-button (click)="openDialogNewRoom()">Create new Room</button>
            </div>

            <div>
                <h1>My Room</h1>
                {{(selectedRoom | json)}}
            </div>

        </div>
    </mat-card>
</div>

<ng-template #no_rooms>
    <div>
        <mat-error>You are not in any chat room, join one or create one.</mat-error>
    </div>
</ng-template>