**/.*
sandbox/volume/
srcs/frontend/.angular
srcs/frontend/node_modules
srcs/frontend/package-lock.json
srcs/backend/node_modules
srcs/backend/dist
srcs/backend/uploads
srcs/postgres/data/postgres
**/node_modules
**/package-lock.json
srcs/backend/uploads
