<strong style="font-size: 20px;">Change your username</strong><br>
<em>

    <div *ngIf="form.errors?.['required']">
        <small>Must be between 3 and 20 characters in length</small>
    </div>

    <div class="invalid" *ngIf="form.errors?.['minlength'] || form.errors?.['maxlength']">
        <small>Must be between 3 and 20 characters in length</small>
    </div>

    <div class="valid" *ngIf="!form.errors?.['minlength'] && !form.errors?.['maxlength'] && !form.errors?.['required']">
        <small>Must be between 3 and 20 characters in length</small>
    </div>

    <div *ngIf="form.errors?.['required']">
        <small>May contain lowercase letters, numbers</small>
    </div>

    <div class="invalid" *ngIf="form.errors?.['pattern']">
        <small>May contain lowercase letters, numbers</small>
    </div>

    <div class="valid" *ngIf="!form.errors?.['pattern'] && !form.errors?.['required']">
        <small>May contain lowercase letters, numbers</small>
    </div>

    <div class="invalid" *ngIf="form.errors?.['forbiddenName']">
        <small>Must be different than "{{ form.value }}"</small>
    </div>

    <div class="invalid" *ngIf="form.errors?.['usernameTaken']">
        <small>This username is already taken</small>
    </div>

</em>
<p></p>

<label for=" name"></label>
<input id="name" type="text" [formControl]="form">
<button type="button" (click)="updateName(form.value)" [disabled]="form.invalid">Update</button>