@import '../game-variables.scss';

.table {
    @include table;
}

.waiting {
    @include popUp(3vh);

    // &__title {
    //     margin-top: 50%;
    // }
}

.score {
    color: white;
    position: absolute;
    z-index: 1;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    font-family: $game-font-family;
    font-size: 60px;
    width: 25%;
    opacity: 0.75;
}

.name {
    font-size: 10px;
}

.finished {
    @include popUp(10vh);

    &__title {
        margin-top: 10vh;
        // height: 10vh;
        transform: translateY(-50%);
    }
}

.quit {
    font-size: 2vh;
    margin-top: 30px;
}