<canvas #game class="table" width="1280" height="720"></canvas>
<div class="waiting" *ngIf="isWaiting">
    <p class="waiting__title">Waiting for another player</p>
    <p class="quit">[Q] - Quit</p>
</div>
<div *ngIf="!isWaiting" class="score">
    <div style="float: left;">{{scoreP1}}</div>
    <div style="float: right;">{{scoreP2}}</div>
</div>
<div class="finished" *ngIf="finished">
    <p class="finished__title">{{finishedMessage}}</p>
    <p class="quit">[Q] - Quit</p>
</div>
<img id="powerUp" width="100" height="100" src="/assets/images/powerUp.png" alt="power up">