@import '../game-variables.scss';

.table {
    @include table;
}

.waiting {
    @include popUp(3vh);

    // &__title {
    //     margin-top: 50%;
    // }
}

.score {
    top: 150px;
    @include score(60px, 25%);
}

.usernames {
    bottom: 50px;
    @include score(20px, 75%);
}

.finished {
    @include popUp(10vh);

    &__title {
        margin-top: 10vh;
        transform: translateY(-50%);
    }
}

.quit {
    font-size: 2vh;
    margin-top: 30px;
}