<app-navbar></app-navbar>
<button mat-raised-button (click)="openDialogUsername()">
    <fa-icon style="cursor: pointer;" [icon]="faEdit" size="lg" [style]="{'color': 'black'}"></fa-icon>
    Username
</button>

<button mat-raised-button (click)="openDialogAvatar()">
    <fa-icon style="cursor: pointer;" [icon]="faEdit" size="lg" [style]="{'color': 'black'}"></fa-icon>
    Picture
</button>

<div class="buttons"><br>
    <app-button *ngIf="tfa_enabled" name="Disable TFA" (btnClick)="disableTfa()"></app-button>
    <app-button *ngIf="!tfa_enabled" name="Enable TFA" (btnClick)="enableTfa()"></app-button><br>
    <app-button name="Logout" (btnClick)="logOut()"></app-button>
</div>