@import '../game_variables.scss';

.powerup {
    --x: 50;
    --y: 50;
    --bg-color: black;

    position: absolute;
    background-color: var(--bg-color);
    transform: translate(-50%, -50%);
    left: calc((var(--x) * 1%));
    top: calc((var(--y) * 1px) + 5vh);
    width: 10vh;
    height: 10vh;
    z-index: 0;
}