@import '../game_variables.scss';

.powerup {
    --x: 50;
    --y: 50;

    position: absolute;
    background-color: $powerup-color;
    left: calc((var(--x) * 1%));
    top: calc((var(--y) * 1%));
    transform: translate(-50%, -50%);
    width: 10vh;
    height: 10vh;
    margin-top: 50px;
}