<div *ngFor="let item of this.friendsService.stats.value?.history" class="row match-history d-flex align-items-center">
    <div  class="col-3 player">
        <img src="backend/{{item?.user1_avatar_url}}" class="rounded-circle user-list-image">          
        <span (click)="this.friendsService.loadUser(item.user1)" class="align-middle align-self-center name">{{item.user1}}</span>
    </div> 
    <div class="col-6 align-middle score">
        <span class="align-middle align-self-center" [ngClass]="getScoreClass(item.user1, item.user2, item.score_p1, item.score_p2)">{{item.score_p1}} x {{item.score_p2}}</span>
    </div> 
    <div class="col-3 player">
        <img src="backend/{{item.user2_avatar_url}}" class="rounded-circle user-list-image">          
        <span (click)="this.friendsService.loadUser(item.user2)" class="align-middle align-self-center name">{{item.user2}}</span>
    </div> 
</div>
