.table {
    width: calc(100% - 10px);
    height: calc(100% - 110px);
    background-color: black;
    border: 5px solid white;
}

.lines {
    background-image: linear-gradient(to bottom, white 50%, black 50%);
    background-size: 40px 40px;
    background-repeat: repeat-y;
    position: absolute;
    width: 20px;
    height: calc(100% - 120px);
    left: calc(50%);
    transform: translateX(-50%);
    top: 110px;
}

.menu {
    font-family: "Lucida Console", "Courier New", monospace;
    color: white;
    position: absolute;
    left: calc(20%);
    text-align: center;
    top: 20%;

    &__title {
        font-size: 5vh;
        text-align: center;
        margin-bottom: 30px;
        margin-right: 3vw;
    }

    button {
        text-align: left;
        font-family: "Lucida Console", "Courier New", monospace;
        height: 10vh;
        width: 18vw;
        cursor: pointer;
        font-size: 3vh;
        background-color: black;
        color: white;
        opacity: .75;
        border: none;
        display: block;
    }

    button:hover {
        opacity: 1;
        border-right: 2px solid white;
        border-left: 2px solid white;
    }
}

.instructions {
    top: 20%;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 2.5vh;
    color: white;
    position: absolute;
    left: calc(60%);
    text-align: left;
}