@import './game_variables.scss';

// .table {
//     height: 50%;
//     width: 50%;
//     margin: 0;
//     // width: 100px;
//     // background-color: $table-color;
//     background-color: palegoldenrod;
//     // margin-bottom: 10px;
//     // border-top: 5px solid white;
//     // border-bottom: 5px solid white;
// }

.table {
    width: calc(100% - 10px);
    height: calc(100% - 110px);
    background-color: white;
    border: 5px solid red;
}