@import './game-variables.scss';

.table {
    @include table;
}

.lines {
    @include lines;
}

.menu {
    font-family: $game-font-family;
    color: white;
    position: absolute;
    left: calc(20%);
    text-align: center;
    margin-top: 10vh;

    &__title {
        font-size: 5vh;
        text-align: center;
        margin-bottom: 30px;
        margin-right: 3vw;
    }

    button {
        text-align: left;
        font-family: $game-font-family;
        height: 10vh;
        width: 20vw;
        cursor: pointer;
        font-size: 3vh;
        background-color: black;
        color: white;
        opacity: .75;
        border: none;
        display: block;
    }

    button:hover {
        opacity: 1;
        border-right: 2px solid white;
        border-left: 2px solid white;
    }
}

.instructions {
    margin-top: 20vh;
    font-family: $game-font-family;
    font-size: 2.5vh;
    color: white;
    position: absolute;
    left: calc(60%);
    text-align: left;
}