<app-navbar></app-navbar>
<div #table class="table" *ngIf="menu">
    <div class="menu">
        <p class="menu__title">Play</p>
        <button (click)="startGame('on-random')">Online random</button>
        <button (click)="startGame('on-friend')">Online friend</button>
        <button>Offline friend</button>
        <button>Offline computer</button>

    </div>
    <div class="instructions">
        <p>INSTRUCTIONS</p>
        <p>Player 1: Keys [W] [S]</p>
        <p>Player 2: Arrows [Up] [Down]</p>
        <p>[P] Pause</p>
    </div>
</div>
<app-online-game *ngIf="mode == 'on-random' || mode == 'on-friend'"></app-online-game>
<!-- <app-offline-game *ngIf="mode == 'off' || mode == 'computer'"></app-offline-game> -->
<div class="lines" *ngIf="mode != 'on-random' && mode != 'on-friend)'"></div>