<app-navbar></app-navbar>
<div #table class="table" *ngIf="menu">
    <div class="menu">
        <p class="menu__title">Play</p>
        <button (click)="startGame('random')">vs Random</button>
        <button>vs Friend</button>
        <button (click)="toggleLiveGames()">Live Games</button>
        <button (click)="toggleInstructions()">Instructions</button>

        <!-- <button>Offline friend</button> -->
        <!-- <button>Offline computer</button> -->
        <!-- <mat-checkbox></mat-checkbox> -->
        <input type="checkbox" (change)="togglePowerUps()">Enable power-ups
    </div>
    <div *ngIf="!showLiveGames" class="instructions">
        <p>INSTRUCTIONS:</p>
        <p>[W] or [Up] - Move up</p>
        <p>[S] or [Down] - Move down</p>
        <!-- <p>[P] - Pause</p> -->
    </div>
    <div *ngIf="showLiveGames" class="instructions">
        <p>LIVE GAMES:</p>
        <p *ngIf="!liveGames">No one is playing right now!</p>
        <button *ngFor="let game of liveGames" (click)="watchGame(game.gameID)">{{game.gameID}}</button>
    </div>
</div>
<app-online-game *ngIf="mode == 'random' || mode == 'spec'" [specGame]="toWatch" [mode]="mode" [powerUps]="powerUps">
</app-online-game>
<!-- <app-offline-game *ngIf="mode == 'off' || mode == 'computer'"></app-offline-game> -->
<div class="lines" *ngIf="mode != 'random' && mode != 'friend)'"></div>