$game-font-family: "Lucida Console", "Courier New", monospace;

@mixin table {
    width: calc(100%);
    height: calc(100% - 100px);
    background-color: black;
    border: 5px solid white;
}

@mixin lines {
    background-image: linear-gradient(to bottom, white 50%, black 50%);
    background-size: 30px 30px;
    background-repeat: repeat-y;
    position: absolute;
    width: 15px;
    height: calc(100% - 120px);
    left: 50%;
    transform: translateX(-50%);
    top: 110px;
}

@mixin score($font-size, $width) {
    color: white;
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    // display: inline-block;
    // text-align-last: justify;
    justify-content: space-between;
    font-family: $game-font-family;
    font-size: $font-size;
    min-width: $width;
    opacity: 0.75;
}

@mixin button($width, $font-size) {
    button {
        text-align: left;
        font-family: $game-font-family;
        height: 10vh;
        width: $width;
        cursor: pointer;
        font-size: $font-size;
        background-color: black;
        color: white;
        opacity: .75;
        border: none;
        display: block;
    }

    button:hover {
        opacity: 1;
        border-right: 2px solid white;
        border-left: 2px solid white;
    }
}