<div *ngIf="!isMyMember(); else myMember">
    <a>
        <fa-icon title="{{selectedMember.user.username}} profile" class="iconsMember" [icon]="faProfile"
            (click)="profile(selectedMember.user.username)" routerLink="/friends">
        </fa-icon>
    </a>
    <a>
        <fa-icon title=" Challenge {{selectedMember.user.username}}" class="iconsMember" [icon]="faPaddle"
            (click)="challenge(selectedMember.user.username)" routerLink="/pong">
        </fa-icon>
    </a>
    <a>
        <fa-icon *ngIf="!isBlocked; else blocked_user" title="Block {{selectedMember.user.username}}"
            class="iconsMember" [icon]="faLock" (click)="blockUser(selectedMember.user.id)">
        </fa-icon>
        <ng-template #blocked_user>
            <fa-icon title="Unblock {{selectedMember.user.username}}" class="iconsMember" style="color: grey;"
                [icon]="faUnlock" (click)="unblockUser(selectedMember.user.id)">
            </fa-icon>
        </ng-template>
    </a>
    <a>
        <fa-icon *ngIf="displaySetAsAdmin(selectedMember) && !isAdmin"
            title="Add the administrator role to {{selectedMember.user.username}}" class="iconsMember" [icon]="fasStar"
            (click)="setAsAdmin(selectedMember)">
        </fa-icon>
    </a>
    <a>
        <fa-icon *ngIf="amIOwner && isAdmin" title="Remove the administrator role to {{selectedMember.user.username}}"
            class="iconsMember" [icon]="farStar" (click)="unsetAdmin(selectedMember)">
        </fa-icon>
    </a>

    <div *ngIf="((amIOwner || amIAdmin) && !isOwner)">
        <button mat-button disabled color="warn">Mute</button>
        <button mat-button color="warn" (click)="setMute('5mn')">5min</button>
        <button mat-button color="warn" (click)="setMute('1h')">1h</button>
        <button mat-button color="warn" (click)="setMute('24h')">24h</button>
        <br>
        <button mat-button disabled color="warn">Ban</button>
        <button mat-button color="warn" (click)="setBan('5mn')">5min</button>
        <button mat-button color="warn" (click)="setBan('1h')">1h</button>
        <button mat-button color="warn" (click)="setBan('24h')">24h</button>
    </div>
</div>

<ng-template #myMember>
    <p>Player since {{ selectedMember.user.created_at | date}}</p>
</ng-template>