<app-navbar></app-navbar>
<div class="main">
    <div class="table" id="table">
        <div class="start-menu" *ngIf="!play">
            <button class="game-mode" (click)="start('local')">LOCAL MULTIPLAYER</button>
            <button class="game-mode" (click)="start('computer')">VS COMPUTER</button>
            <button class="game-mode" (click)='joinQueue()'>ONLINE MULTIPLAYER</button>
            <button class="game-mode">VS FRIEND</button>
            <!-- <button>INSTRUCTIONS</button> -->
            <div class="custom">
                <div *ngIf="!powerUpMode" class="square" (click)="togglePowerUp()"></div>
                <div *ngIf="powerUpMode" class="square" (click)="togglePowerUp()">X</div>
                Power-ups
            </div>
        </div>
        <div class="instructions-menu" *ngIf="!play">
            <p>INSTRUCTIONS</p>
            <p>Player 1: Keys [W] [S]</p>
            <p>Player 2: Arrows [Up] [Down]</p>
            <p>[P] Pause</p>
        </div>
        <div *ngIf="play">
            <div class="score">
                <div id="player1-score">{{ player1Score }}</div>
                <div id="player2-score">{{ player2Score }}</div>
            </div>
            <app-ball *ngIf="!finished"></app-ball>
            <app-powerup *ngIf="!finished && powerUpMode"></app-powerup>
            <app-paddle #player1 [name]="'player1'" [side]="'left'"></app-paddle>
            <app-paddle #player2 *ngIf="mode == 'local'" [name]="'player2'" [side]="'right'"></app-paddle>
            <app-paddle #computer *ngIf="mode == 'computer'" [name]="'computer'" [side]="'right'"></app-paddle>
            <!-- <p *ngIf="!paused" class="pause-button" (click)="pause()">Pause</p> -->
            <!-- <p *ngIf="paused" class="resume-button" (click)="pause()">Resume</p> -->
        </div>
        <div *ngIf="paused" class="pause-div">
            <p class="pause-div__title">PAUSED</p>
            <p class="pause-div__text">[P] Resume</p>
            <p class="pause-div__text">[Q] Quit</p>
        </div>
        <div *ngIf="finished" class="finished-div">
            {{ message }}
            <p class="pause-div__text">Press [Q] to quit</p>
        </div>
    </div>
</div>