@import url('http://fonts.cdnfonts.com/css/old-computer-st');


#user {
    margin-left: auto;
    margin-right: 5px;
}

.right-menu {
  height:100%;

  .profile {
    display:inline-block; 
    text-align: right;
    vertical-align: middle;
    .username {
      display: block;
    }
    
    .control-buttons {
      display: block;
      text-align: right;

      >ul {
        display: flex;
        justify-content: flex-end;
        >li {
          color: gray;
          margin-left: 8px;
          cursor: pointer;
        }
      }
    }

  }

  .right-controls {
    display:inline-block;

    .avatar {
      margin-left:15px;
      margin-right: 15px;
      height: 70px;
      width: 70px;
      aspect-ratio: 1;
      object-fit: cover;
    }

    >button {
      margin-right: 10px;
    }
  }


}

.left-menu {
  flex-basis: auto;
  display: flex!important;
  flex-grow: 1;
align-items: center;
}


.right-link { 
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: .5rem;
  padding-left: .5rem;
  color: rgba(255,255,255,.5);
  cursor: pointer;
}

.navbar-brand {
    cursor: pointer;
    float: left;
}

.nav-item {
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
}
.navbar-collapse {
  flex-basis: auto;
}



.nav-item:hover,
.nav-item:active,
.link-active {
    border-bottom-width: 2px;
    border-bottom-color: orange;
    border-bottom-style: solid;
}

.navbar-expand-lg .navbar-nav {
    flex-direction: row;
    }

.navbar-icon-top .navbar-nav .nav-link > fa-icon {
    position: relative;
    width: 36px;
    font-size: 24px;
    top: 3px;
    line-height: 12px;
    margin-left:4px;
    margin-right: 4px;
  }
  .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .nav-title {
    display: none;
  }
  
  #logo { 
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-right: 20px;
    background-image: url("/assets/images/logo-s.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  @media (min-width: 800px) {
    #logo { 
      width: 170px;
      height: 70px;
      margin-right: 0px;
      background-image: url("/assets/images/logo-p.svg");
    }
  }

  @media (min-width: 1020px) {
    .nav-title {
      display: unset;
    }
  }
  