<!-- <mat-card-title>Search user</mat-card-title>
<mat-card>
    <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="createPrivateChat()">
            <mat-form-field appearance="fill">
                <mat-label>User</mat-label>
                <input type="text" placeholder="Pick one" formControlName="username" aria-label="User" matInput
                    [matAutocomplete]="auto">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        {{option}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <div class=" button">
                <button mat-raised-button type="submit">Chat</button>
            </div>
        </form>
    </mat-card-content>
</mat-card> -->


<mat-card-title>Search user</mat-card-title>
<mat-card>
    <mat-card-content>
        <mat-form-field>
            <input matInput placeholder="Search" aria-label="State" [matAutocomplete]="auto"
                [formControl]="searchUsersCtrl" (input)="onInputChange()">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="getUsername"
                (optionSelected)='updateMySelection($event.option.value)'>
                <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                <ng-container *ngIf="!isLoading">
                    <mat-option *ngFor="let user of filteredUsers" [value]="user">
                        <span><img src="backend/{{ user.avatar_url }}"
                                class="rounded-circle avatar"><b>{{user.username}}</b> </span>
                    </mat-option>
                </ng-container>
            </mat-autocomplete>
        </mat-form-field>
        <div class=" button">
            <button mat-raised-button type="submit" [disabled]="disabled" (click)="checkIfAlreadyExist()">Chat</button>
        </div>
    </mat-card-content>
</mat-card>