@import url('http://fonts.cdnfonts.com/css/old-computer-st');

.navbar {
    background-color: #303564;
    // margin-left: 360px;
    /* Same as the width of the sidebar */
    height: 100px;
    // z-index: 0;
}

.nav-link {
    margin: 15px 15px 5px 0px;
    width: 100px;
    background-color: none;
}

.navbar-brand {
    font-size: 30px;
    font-family: 'Old computer St', sans-serif;
    // margin-left: 25px;
    cursor: pointer;
    list-style: none;
    float: left;
    // margin-top: 32px;
}

.navbar-nav {
    display: flex;
    float: right;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 10px;
}

.nav-item {
    margin-top: 15px;
    margin-right: 10px;
    padding-top: 10px;
    list-style: none;
    width: 100px;
    height: 30px;
    text-align: center;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
}

.nav-item:hover,
.nav-item:active {
    background-color: #e7e7e7;
}

.navbar-ligth {
    color: black;
}