@import url('http://fonts.cdnfonts.com/css/old-computer-st');

.navbar {
    background-color: #303564;
    height: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar-brand {
    font-size: 30px;
    font-family: 'Old computer St', sans-serif;
    // margin-left: 25px;
    cursor: pointer;
    list-style: none;
    float: left;
    margin-top: 40px;
    // vertical-align: middle;
}

.navbar-nav {
    display: flex;
    float: right;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 10px;
    padding: 0;
}

.nav-item {
    margin-top: 25px;
    margin-right: 20px;
    // padding-top: 10px;
    list-style: none;
    width: 100px;
    // height: 30px;
    text-align: center;
    border-radius: 10px;
    font-size: 22px;
    // background-color: white;
    cursor: pointer;
    color: white;
}

.nav-item:hover,
.nav-item:active {
    // background-color: #e7e7e7;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    color: white;
}

.home,
.pong,
.chat,
.friends {
    // background-color: #e7e7e7;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    color: white;
}

// .navbar-ligth {
//     color: black;
// }