<app-navbar></app-navbar>



<div class="container-fluid mt--7">
    <div class="row padding">
      


        <div class="col-xl-3 mb-3">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-myfriends-tab" data-bs-toggle="tab" data-bs-target="#nav-myfriends" type="button" role="tab" aria-controls="nav-myfriends" aria-selected="true">My Friends</button>
                    <button class="nav-link" id="nav-requests-tab" data-bs-toggle="tab" data-bs-target="#nav-requests" type="button" role="tab" aria-controls="nav-requests" aria-selected="false">Requests</button>
                    <button class="nav-link" id="nav-search-tab" data-bs-toggle="tab" data-bs-target="#nav-search" type="button" role="tab" aria-controls="nav-search" aria-selected="false">Search</button>
                </div>
            </nav>
            
            <div class="card bg-secondary shadow">
 
                <app-friends-list></app-friends-list>

            </div>
        </div> <!--div class="col-xl-3 ">-->




        <div class="col-sm-3  mb-3">
            <div class="card card-profile bg-secondary shadow">

                <div class="row justify-content-center">
                <div class="col order-lg-2 text-center">
                <div class="card-profile-image">
                    <img src="/backend/{{this.friendsService.userInfo.value?.avatar_url}}" class="rounded-circle">
                </div>
                </div>
                </div>
                <div class="card-body pt-0 pt-md-4">
                    <div class="row ">
                        <div class="col mt-4  text-center">
                        <h1>{{this.friendsService.userInfo.value?.username}}</h1>
                        </div>
                    </div>
                    <div class="row  text-center" >
                        <div class="col">
                        <h3>{{this.friendsService.userInfo.value?.fullname}}</h3>
                        </div>
                    </div>
                    <div class="row  text-center mb-5 mt-2" >
                        <div class="col">
                            <button *ngIf="this.friendsService.friendStatus.value == 0" (click)="this.friendsService.addFriendship()" type="button" class="btn btn-info">Add Friend</button>
                            <button *ngIf="this.friendsService.friendStatus.value == 1" (click)="this.friendsService.delFriendship()" type="button" class="btn btn-danger">Cancel Request</button>
                            <button *ngIf="this.friendsService.friendStatus.value == 2" (click)="this.friendsService.acceptFriendship()" type="button" class="btn btn-success">Accept Friend</button>
                            <button *ngIf="this.friendsService.friendStatus.value == 2" (click)="this.friendsService.delFriendship()" type="button" class="btn btn-danger">Deny Friendship</button>
                            <button *ngIf="this.friendsService.friendStatus.value == 3" (click)="this.friendsService.delFriendship()" type="button" class="btn btn-danger">Remove Friend</button>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <i>rating: {{this.friendsService.userInfo.value?.rating}}</i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <i>player since: {{this.friendsService.userInfo.value?.created_at}}</i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <i>friends: 3832</i>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!--div class="col-sm-3  mb-3"-->
      
        <div class="col-sm-3  mb-3 ">
            <div class="row   mb-3 ">
                <div class="col">
                    <div class="card bg-secondary shadow">
                        <div class="card-header bg-white border-0">
                            Achievements
                        </div>
                        <div class="card-body userlist">

                                
                                <img class="achievement" src="/assets/images/achievements/3135724.png">
                                <img class="achievement" src="/assets/images/achievements/3135724.png">
                                <img class="achievement" src="/assets/images/achievements/3135724.png">

                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card bg-secondary shadow">
                        <div class="card-header bg-white border-0">
                            Stats
                        </div>
                        <div class="card-body userlist text-center stats ">
                            <div class="row">
                                <div class="col-4">
                                    <img class="achievement" src="{{this.friendsService.userInfo.value?.rating_image}}">
                                </div>
                                <div class="col-4">
                                    <span class="title">{{this.friendsService.gamesPlayed.value}}</span>
                                    <span class="subtitle">Games Played</span>
                                </div>
                                <div class="col-4">
                                    <span class="title">{{this.friendsService.gamesWon.value}}</span>
                                    <span class="subtitle">Games Won</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!--div class="row"-->
        </div> <!--div class="col-sm-6  mb-3 "-->
      
        <div class="col-sm-3  mb-3 ">
            <div class="card bg-secondary shadow">
                <div class="card-header bg-white border-0">
                    Game History
                </div>
                <div class="card-body user-list-card ">
                    <app-game-history></app-game-history>
                   
                </div>
            </div>
        </div>
        
  



    </div><!--div class="row padding"-->

</div>
    