.sidenav {
    height: 100%;
    /* Full-height: remove this if you want "auto" height */
    width: 20%;
    /* Set the width of the sidebar */
   /* position: absolute;*/
    /* Fixed Sidebar (stay in place on scroll) */
    // z-index: 0;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #303564;
    overflow-x: hidden;
	float: left;
    //margin-top: 100px;
    /* Disable horizontal scroll */
    // padding-top: 20px;
}

@media screen and (max-width: 1000px) {
    .sidenav {
        display: none;
    }
}


.buttons {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
	text-align: center;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.stats {
    text-align: center;
    border-style: solid;
    background-color: #ffffff;
    margin: 20px;
}

.match-history {
    text-align: center;
    border-style: solid;
    background-color: #ffffff;
    margin: 20px;
}

.btn-tfa {
    position: absolute;
    bottom: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.btn-logout {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.avatar {
    position: relative;
    top: 0;
    left: 0;
}

.avatar-img {
    position: relative;
    left: 0;
    border-radius: 25%;
    width: 70%;
    height: 250px;
    margin: auto;
    display: block;
    padding-bottom: 30px;
}

span.edit {
    position: absolute;
    top: 220px;
    left: 230px;
}

.username {
    color: white;
    font-size: 28px;
    justify-content: center;
    display: flex;
}

.username p {
    margin-block: auto;
}

.a {
    cursor: pointer;
}