p {
    font-size: medium;
    background-color: lightgrey;
    padding: 5px;
    width: fit-content;
    border-radius: 5px;
    margin: 10px;
    margin-left: 50px;
    text-align: left;
}

.avatar {
    position: absolute;
    top: calc(25%);
    left: 5px;
    height: 40px;
    width: 40x;
    aspect-ratio: 1;
    object-fit: cover;
}

.ownContainer {
    justify-content: end;
}

.ownMessage {
    justify-content: end;
    background-color: lightblue;
}

.status {
    position: absolute;
    top: calc(63%);
    left: 33px;
    height: 12px;
    width: 12x;
}

.onHoverProfileUserOn {
    position: absolute;
    top: 65px;
    left: 5px;
    cursor: pointer;
    padding-right: 5px;
    height: 40px;
}

.onHoverProfileUserOff {
    position: absolute;
    top: 65px;
    left: 19px;
    cursor: pointer;
}

.onHoverPaddle {
    position: absolute;
    top: 65px;
    left: 25px;
    cursor: pointer;
    padding-left: 5px;
}